<%= form_with model: password do |form| %>
  <% if form.object.errors.any? %>
    <% form.object.errors.full_messages.each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= form.label :url %>
    <%= form.url_field :url %>
  </div>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="py-2">
    <%= form.submit "Update Password", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-5 rounded" %>
      <%= button_tag "Delete", form: "delete_password" if form.object.persisted? && current_user_password.deletable?
      # { class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-5 rounded" }
      %>
  </div>
<% end %>

<%= form_with model: password, method: :delete, id: "delete_password", data: { turbo_confirm: "Are you sure??"} %>